/*Colors
light tan #F7F3EC
forrest green #11361E
red #F53E30

font-family: 'Roboto', sans-serif;
*/

* {
  font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #FFFFFF;
}

h2 {
	text-transform: uppercase;
}

h2, h3 {
	font-size: 1rem;
}

h2, h3, p {
	color: #11361E;
}

.green {
	color: #11361E;
}

.red {
	color: #F53E30;
}

.white {
	color: #FFFFFF;
}

#location {
	background-color: #F7F3EC;
	height: 50px;
}

header {
	background-image: url('img/plants-bg.png');
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main {
	height: 200px;
}

#seasonal {
	height: 400px;
	background-color: #F7F3EC;
}

footer {
	
}





