/*Colors
light tan #ECE9E5
forrest green #3E6F2F
red #F53E30

changes
light green #E6F6EB


font-family: 'Roboto', sans-serif;
*/

* {
  font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #FFFFFF;
}

h2 {
	text-transform: uppercase;
	font-size: 1rem;
}

h3 {
	font-size: 0.9rem;
}

h2, h3 {
	color: #3E6F2F;
}

p {
	font-weight: 300;
}


.green {
	color: #3E6F2F;
	border-color: #3E6F2F;
}

.red {
	color: #F53E30;
	border-color: #F53E30;
}

.white {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.border {
	border-style: solid;
	border-width: medium;
	border-radius: 5px;
	width: 110px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
}

/************* LOCATION BAR *************/

#location {
	background-color: #E6F6EB;
	text-align: center;
	padding: 10px 0 10px 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#logo {
	width: 280px;
	padding: 10px 10% 10px 10%;
}

nav ul {
	margin-bottom: 14px;
}

nav ul li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	margin: 6px;
}

/************* HEADER *************/

header {
	background-image: url('img/succulent.jpg');
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}

header h1 {
	padding: 70px 10% 20px 10%;
}

.margin-auto {
	margin: auto;
}

/************* MAIN *************/

main {
	height: 250px;
	text-align: center;
}

main h2 {
	padding-top: 40px;
}

main p {
	padding: 10px 10% 20px 10%;
	max-width: 500px;
}

/************* SEASONAL *************/

#seasonal {
	height: 380px;
	background-color: #E6F6EB;
	text-align: center;
}

#seasonal h2 {
	padding-top: 35px;
	padding-bottom: 30px;
}

#img-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 5% 20px 5%;
}

.img {
	height: 187px;
	padding: 5px;
}

.order {
	order: -1;
}

/************* FOOTER *************/

footer {
	text-align: center;
	height: 130px;
}

footer h3 {
	padding: 20px 0 5px 0;
}

footer p {
	color: #3E6F2F;
	padding: 5px 0 5px 0;
}





/************* MEDIA QUERIES *************/

@media (min-width: 600px) {
	#location {
		text-align: right;
		padding-right: 10%;
	}
	#location h3 {
		display: inline;
		padding: 0 2% 0 2%;
	}
	.border-left {
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: #3E6F2F;
	}
}

@media (min-width: 639px) {
	.order {
		order: 1;
	}
}

@media (min-width: 726px) {
	nav {
		justify-content: space-between;
	}
	#logo {
		padding: 10px 0 10px 10%;
	}
	nav ul {
		margin-bottom: 0;
		margin-right: 10%;
	}
}

@media (max-width: 638px) {
	#seasonal {
		height: 580px;
	}
	#img-div {
		width: 300px;
		margin: auto;
	}
}

